<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--使用set注入赋值-->
    <bean id="DI02" class="com.aojiaodeRR.DI02.Student">
        <property name="age" value="23"/>
        <property name="name" value="张三"/>
<!--        引用类型-->
        <property name="school" ref="myschool"/>
    </bean>
    <bean id="myschool" class="com.aojiaodeRR.DI02.School">
        <property name="name" value="哈尔滨工业大学"/>
        <property name="place" value="哈尔南岗区"/>
    </bean>
</beans>